@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    margin: 0;
  }
  body {
    font-family: "PingFang TC", "PingFang SC", "Microsoft JhengHei", "Helvetica Neue", Helvetica, sans-serif;
}

  
  .map-container {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar {
    background-color: #d32f2f;
    color: white;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .navbar div {
    text-align: center;
  }
  
  